@model IEnumerable<Constructability_Review_Test_Models.CheckListModel>
@{
    ViewBag.Title = "EditChecklistReview";
    var sessions = Model.GroupBy(p => p.ChecklistReviewItemSectionID).Select(k => new
    {
        Key = k.Key,
        val = k.FirstOrDefault().ChecklistReviewItemDivisionPublic,
        val1 = k.FirstOrDefault().ChecklistReviewItemMajorSectionName,
        val2 = k.FirstOrDefault().ChecklistReviewItemID,
        val3 = k.FirstOrDefault().ChecklistReviewItemMajorSectionSortOrder,
        val4 = k.FirstOrDefault().ChecklistReviewItemMajorSectionID,
        val5 = k.FirstOrDefault().ChecklistReviewItemDivisionID,
        val6 = k.FirstOrDefault().ChecklistReviewItemDivisionName,
        val7 = k.FirstOrDefault().ChecklistReviewItemDivisionSortOrder,
        val8 = k.FirstOrDefault().ChecklistReviewItemSectionID,
        val9 = k.FirstOrDefault().ChecklistReviewItemSectionName,
        val10 = k.FirstOrDefault().ChecklistReviewItemSectionSortOrder,
        val11 = k.FirstOrDefault().ChecklistReviewItemActive
    }).ToList();
    var MajorName = @ViewBag.MajorSectionName;
    var i = 0;
}
<link href="~/Content/plugins/data Tables/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/plugins/data Tables/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/plugins/data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/plugins/data Tables/dataTables.checkboxes.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<br /><br />

<div class="row">

    @Html.ActionLink("Home", "ConstructabilityTemplate", "ConstructabilityCheckList", null, new { @class = "btn btn-primary btn-large", style = "float:left" })
</div>
<br />
@using (Html.BeginForm("SaveChkItemDetails", "ConstructabilityCheckList", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmEditDetails" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (Model != null)
    {
        <br />
        <div class="row col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3 ">Review Job</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.FirstOrDefault().ProjectName, new { @class = "form-control", @readonly = true })
                    @Html.ValidationMessageFor(model => model.FirstOrDefault().ChecklistReviewJob, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="accordion" id="QualitySafety" onscroll="setScrollPosition(this.scrollTop);">
            <div class="panel">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" data-parent="#QualitySafety"><b>SAFETY</b></button>
                <br />
                <div id="collapseOne" class="collapse">
                    <div class="card-body">
                        @foreach (var s in sessions)
                        {
                            if (s.val1 == "SAFETY")
                            {
                                <a href="#@s.val9">@s.val9</a>
                                if (s.val11 == true)
                                {
                                    <input type="checkbox" value=@s.val11 class="dt-checkboxes" checked onclick="javascript:hide(@Model.FirstOrDefault().ChecklistReviewID,@s.val8,'@s.val1')" id="@("a" + i.ToString())" , rowcnt="@i" /><br />
                                }
                                else
                                {
                                    <input type="checkbox" value=@s.val11 class="dt-checkboxes" onclick="javascript:hide(@Model.FirstOrDefault().ChecklistReviewID,@s.val8,'@s.val1')" id="@("a" + i.ToString())" , rowcnt="@i" /><br />
                                }
                            }
                            i++;
                        }
                        <br />
                        @if (Model.FirstOrDefault().ChecklistReviewID > 0)
                        {
                            foreach (var session in sessions.Where(f => f.val1 == "SAFETY" && f.val1 != "QUALITY" && f.val11 == true))
                            {
                                <div class="table-responsive" value="@session.val9" id="@session.val9">
                                    <b>@session.val</b><br />
                                    <b> @session.val9</b><br />
                                    <a class="btn-link" id="restId" href="#" onclick="javascript:AddCustomItem(@Model.FirstOrDefault().ChecklistReviewID,@session.val2,'@session.val1',@session.val3,@session.val4,@session.val5,@session.val7,@session.val8,@session.val10)">Add Custom Item</a>
                                    <table id="table_id" class="table table-striped table-bordered  table-condensed table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Item</th>
                                                <th colspan="6">Action</th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.Distinct().Where(l => l.ChecklistReviewItemSectionName == session.val9 && l.ChecklistReviewItemMajorSectionName == "SAFETY" && l.ChecklistReviewItemActive == true))
                                                {
                                                    var com1 = item.ChecklistReviewItemCommentDetails;
                                                    <tr>
                                                        <td>@item.ChecklistReviewItemSectionItemCode</td>
                                                        <td>
                                                            @if (String.IsNullOrEmpty(item.ChecklistReviewItemSectionItemLink))
                                                            {@item.ChecklistReviewItemSectionItemName}
                                                        else
                                                        {
                                                            <a target="_blank" href="@item.ChecklistReviewItemSectionItemLink">@item.ChecklistReviewItemSectionItemName</a>
                                                        }
                                                        </td>

                                                        <td colspan="6">
                                                            @*<a href="#" class="btn btn-sm btn-success" onclick="EditCheklistReviewDtl(@Model.ChecklistReviewID,@item.ChecklistReviewItemSectionItemID)"><i class="glyphicon glyphicon-pencil"></i></a>*@
                                                            <a class="btn-link" id="restId" href="#" onclick="event.preventDefault();AddChecklistComments(@item.ChecklistReviewID,@item.ChecklistReviewItemID,'@item.ChecklistReviewItemMajorSectionName',@item.ChecklistReviewItemMajorSectionID,'@item.ChecklistReviewItemSectionName')">Add Comments</a>
                                                        </td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                    </tr>
                                                    <tr>

                                                        <th></th>
                                                        <th>Design Level</th>
                                                        <th>Role</th>
                                                        <th>Result</th>
                                                        <th>Attachment</th>
                                                        @if (com1 != null && com1.Count != 0)
                                                        {
                                                            <th>Comments/Actions</th>
                                                        }
                                                        else
                                                        {

                                                        }
                                                        <td><b>Modified By</b></td>
                                                        <td><b>Date</b></td>
                                                    </tr>
                                                    if (item.ChecklistReviewItemCommentDetails != null)
                                                    {
                                                        foreach (var it in item.ChecklistReviewItemCommentDetails.Where(k => k.ChecklistReviewItemID == item.ChecklistReviewItemID))
                                                        {
                                                            var comments = it.ChecklistReviewItemReviewerResultComments;
                                                            <tr>
                                                                @*class="designLvel" onload="javascript:GetDesignLevel(@Model.FirstOrDefault().ChecklistReviewID,@session.val2,'@session.val1')"*@
                                                                <td></td>
                                                                <td>@it.ChecklistReviewDesignLevelCode</td>
                                                                <td>@it.ChecklistReviewItemReviewerRole</td>
                                                                <td>@it.ChecklistReviewItemReviewerResultName</td>
                                                                <td><a href="#" onclick="ShowReceipt(@it.ChecklistReviewItemID.Value,@it.ChecklistReviewItemCommentID)">@it.AttachmentName</a> </td>
                                                                @if (comments != null)
                                                                {
                                                                    <td>@it.ChecklistReviewItemReviewerResultComments</td>
                                                                }
                                                                else
                                                                {
                                                                    <td></td>
                                                                }
                                                                <td>@it.ModifiedUser</td>
                                                                <td>@it.ModifiedDate.ToString("MM/dd/yyyy")</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            }
                            <br />
                            <div>
                                @if (Model != null)
                                {
                                    <h4><b><span>These sections are not included in the project</span></b></h4>
                                    foreach (var item in Model.Distinct().Where(l => l.ChecklistReviewItemMajorSectionName == "SAFETY" && l.ChecklistReviewItemActive == false).GroupBy(x => x.ChecklistReviewItemSectionName))
                                    {
                                        @item.FirstOrDefault().ChecklistReviewItemSectionName<br />
                                    }
                                }
                            </div>
                        }
                        <br />
                    </div>
                </div>
            </div>
            <div class="panel">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsetwo" data-parent="#QualitySafety"><b>QUALITY</b></button>
                <div id="collapsetwo" class="collapse">
                    <div class="card-body">
                        <br />
                        @foreach (var s in sessions)
                        {
                            if (s.val1 == "QUALITY")
                            {
                                <a href="#@s.val9">@s.val9</a>
                                if (s.val11 == true)
                                {
                                    <input type="checkbox" value=@s.val11 class="dt-checkboxes" checked onclick="javascript:hide(@Model.FirstOrDefault().ChecklistReviewID,@s.val8,'@s.val1')" id="@("a" + i.ToString())" , rowcnt="@i" /><br />
                                }
                                else
                                {
                                    <input type="checkbox" value=@s.val11 class="dt-checkboxes" onclick="javascript:hide(@Model.FirstOrDefault().ChecklistReviewID,@s.val8,'@s.val1')" id="@("a" + i.ToString())" , rowcnt="@i" /><br />
                                }
                            }
                        }<br />
                        @if (Model.FirstOrDefault().ChecklistReviewID > 0)
                        {
                            foreach (var session in sessions.Where(f => f.val1 == "QUALITY" && f.val11 == true))
                            {
                                <div class="table-responsive" value="@session.val9" id="@session.val9">
                                    <b>@session.val</b><br />
                                    <b>@session.val9</b><br />
                                    <a class="btn-link" id="restId" href="#" onclick="javascript:AddCustomItem(@Model.FirstOrDefault().ChecklistReviewID,@session.val2,'@session.val1',@session.val3,@session.val4,@session.val5,@session.val7,@session.val8,@session.val10)">Add Custom Item</a>
                                    <table id="table_id" class="table table-striped table-bordered  table-condensed table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Item</th>
                                                <th colspan="6">Action</th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                                <th style="display:none"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.Distinct().Where(l => l.ChecklistReviewItemSectionName == session.val9 && l.ChecklistReviewItemMajorSectionName == "QUALITY" && l.ChecklistReviewItemActive == true))
                                                {
                                                    var com1 = item.ChecklistReviewItemCommentDetails;
                                                    <tr>
                                                        <td>@item.ChecklistReviewItemSectionItemCode</td>
                                                        <td>
                                                            @if (String.IsNullOrEmpty(item.ChecklistReviewItemSectionItemLink))
                                                            {@item.ChecklistReviewItemSectionItemName}
                                                        else
                                                        {
                                                            <a target="_blank" href="@item.ChecklistReviewItemSectionItemLink">@item.ChecklistReviewItemSectionItemName</a>
                                                        }
                                                        </td>

                                                        <td colspan="6">
                                                            @*<a href="#" class="btn btn-sm btn-success" onclick="EditCheklistReviewDtl(@Model.ChecklistReviewID,@item.ChecklistReviewItemSectionItemID)"><i class="glyphicon glyphicon-pencil"></i></a>*@
                                                            <a class="btn-link" id="restId" href="#" onclick="event.preventDefault();AddChecklistComments(@item.ChecklistReviewID,@item.ChecklistReviewItemID,'@item.ChecklistReviewItemMajorSectionName',@item.ChecklistReviewItemMajorSectionID)">Add Comments</a>
                                                        </td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                        <td style="display:none"></td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th>Design Level</th>
                                                        <th>Role</th>
                                                        <th>Result</th>
                                                        <th>Attachment</th>
                                                        @if (com1 != null && com1.Count != 0)
                                                        {
                                                            <th>Comments/Actions</th>
                                                        }
                                                        else
                                                        {

                                                        }
                                                        <td><b>Modified By</b></td>
                                                        <td><b>Date</b></td>

                                                    </tr>
                                                    if (item.ChecklistReviewItemCommentDetails != null)
                                                    {
                                                        foreach (var it in item.ChecklistReviewItemCommentDetails.Where(k => k.ChecklistReviewItemID == item.ChecklistReviewItemID))
                                                        {
                                                            var comments = it.ChecklistReviewItemReviewerResultComments;
                                                            <tr>
                                                                @*class="designLvel" onload="javascript:GetDesignLevel(@Model.FirstOrDefault().ChecklistReviewID,@session.val2,'@session.val1')"*@
                                                                <td></td>
                                                                <td> @it.ChecklistReviewDesignLevelCode </td>
                                                                <td> @it.ChecklistReviewItemReviewerRole </td>
                                                                <td> @it.ChecklistReviewItemReviewerResultName</td>
                                                                <td><a href="#" onclick="ShowReceipt(@it.ChecklistReviewItemID.Value,@it.ChecklistReviewItemCommentID)">@it.AttachmentName</a> </td>
                                                                @if (comments != null)
                                                                {
                                                                    <td>@it.ChecklistReviewItemReviewerResultComments</td>
                                                                }
                                                                else
                                                                {
                                                                    <td></td>
                                                                }
                                                                <td> @it.ModifiedUser </td>
                                                                <td> @it.ModifiedDate.ToString("MM/dd/yyyy") </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            <br />
                            <div>
                                @if (Model != null)
                                {
                                    <h4><b><span>These sections are not included in the project</span></b></h4>
                                    foreach (var item in Model.Distinct().Where(l => l.ChecklistReviewItemMajorSectionName == "QUALITY" && l.ChecklistReviewItemActive == false).GroupBy(x => x.ChecklistReviewItemSectionName))
                                    {
                                        @item.FirstOrDefault().ChecklistReviewItemSectionName<br />
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.ActionLink("Details", "GetChecklistReviewSummary", "ConstructabilityCheckList", new { Id = @Model.FirstOrDefault().ChecklistReviewID }, new { @class = "btn btn-primary btn-large", style = "float:left" })
        </div>
    }
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#004990">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 style="color:white" class="modal-title" id="myModalLabel">Edit  Item</h4>
            </div>
            <div id="divbody" class="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src=https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js></script>
    <script type="text/javascript" src=https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js></script>
    <script type="text/javascript" src=https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/data Tables/dataTables.responsive.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.Datepicker').datepicker();
            var table = $('table.table-striped table-bordered  table-condensed table-responsive').DataTable({
                "searching": false,
                "paging": false,
                "info": false,
                responsive: true,
            });
            $('#table_id1').DataTable({
                "searching": false,
                "paging": false,
                "info": false,
                responsive: true
            });

            var MajorName ='@ViewBag.MajorSectionName';
            if (MajorName == 'SAFETY') {
                $("#collapseOne").collapse("show");

            }
            else if (MajorName == 'QUALITY'){
                $("#collapsetwo").collapse("show");
            }
          
            @*var paging = '@ViewBag.JumpToDivId';
            if (paging == "True") {
                window.location.hash = paging;
            }*@
            //maintainScrollPosition();
            $('input[id^="@Model.FirstOrDefault().ChecklistReviewItemSectionName"]').on('click', function () {
                alert(this.value);
            });
        });
        //function saveScrollPos() {
        //    document.getElementById("<%=collapseOne%>").value =
        //        document.getElementById("QualitySafety").scrollTop;
        //}
        //function setScrollPos() {
        //    document.getElementById("QualitySafety").scrollTop =
        //        document.getElementById("<%=collapseOne%>").value;
        //}
        //function pageLoad() {
        //maintainScrollPosition();
        //}

        //function setScrollPosition(scrollValue) {
        //    debugger;
        //    $('#<%=collapseOne.ClientID%>').val(scrollValue);
        //}
        //function maintainScrollPosition() {
        //    debugger;
        //    $("#QualitySafety").scrollTop($('#<%=collapseOne.ClientID%>').val());
        //}
        //$(document).scroll(function () {
        //    localStorage['page'] = document.URL;
        //    localStorage['scrollTop'] = $(document).scrollTop();
        //});
        
        window.onload = function () {           
            var href = '@ViewBag.JumpToDivId';
            if (href != "") {
                window.location.href = "#" + href;
            }
        };
        function EditCheklistReviewDtl(ChkReviewID,chklistReviewItemSectionItemID) {
             var loadurl = '@Url.Action("EditchkReviewDetaillineItem", "ConstructabilityCheckList")' + "?ChkReviewID=" + ChkReviewID + "&chklistReviewItemSectionItemID=" + chklistReviewItemSectionItemID;
            $("#divbody").html("Content loading please wait...");
            $("#myModalLabel").html("Edit CheckList Review Details");
            $("#divbody").load(loadurl, function () {

            $("#myModal").modal("show");
            });
        }
         function SaveCommentsChkListSection(ChkID,ChklstRwItmID,MajorSectionID,MajorSectionName) {
             var modaldata = $("#frmEditDetails").serialize();

             var formData = new FormData();
             var files = $("#FAttachment").get(0).files;
             formData.append("FAttachment", files[0]);
             formData.append("designLvlCode",$("#ChecklistReviewDesignLevelCode").val());
             formData.append("riwerrole", $('#ChecklistReviewItemReviewerRole').val());
             formData.append("ReviewerName", $('#ChecklistReviewItemReviewerResultName').val());
             formData.append("cmts", $("#ChecklistReviewItemReviewerResultComments").val());          
             formData.append("chkSecNam",MajorSectionName);
             formData.append("chkId",ChkID);
             formData.append("chkItmId",ChklstRwItmID);
             formData.append("chkSecId", MajorSectionID)
            var loadurl = '@Url.Action("SaveCommentsChkListSectionitem", "ConstructabilityCheckList")';
            $.ajax({
                type: "POST",
                data: formData,
                url: loadurl,
                processData: false,
                contentType:false,
                success: function (data, textStatus, jqXHR) {
                    $("#myModal").hide();
                    alert("success");
                    var SectionItemName = data;
                    window.location.href = '@Url.Action("EditChecklistReview", "ConstructabilityCheckList")' + "?MajorsectType=" + MajorSectionName + "&DivName=" + SectionItemName
                     @*window.location.href = '@Url.Action("EditChecklistReview", "ConstructabilityCheckList", new { Id = "ChkID", MajorsectType = "MajorsectType, SectionItemName" })' + encodeURIComponent(SectionItemName);*@
                    @*window.location.href = '@Url.Action("EditChecklistReview", "ConstructabilityCheckList")' + "?Id" + ChkID + URLEncoder.encode("SectionItemName");*@
                },
                error: function (xhr) {
                    console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                }
            });
        }
        @*function SaveCommentsChkListSection(ChkID,ChklstRwItmID,MajorSectionID,MajorSectionName) {
            var designLvlCode = $("#ChecklistReviewDesignLevelCode").val();
            var riwerrole = $("#ChecklistReviewItemReviewerRole").val();
            var ReviewerName = $("#ChecklistReviewItemReviewerResultName").val();
            var cmts = $("#ChecklistReviewItemReviewerResultComments").val();
            var attach = $("#FAttachment").val();

            var myObject = new Object();
            myObject.designLvlCode = $("#ChecklistReviewDesignLevelCode").val();
            myObject.riwerrole = $('#ChecklistReviewItemReviewerRole').val();
            myObject.ReviewerName = $('#ChecklistReviewItemReviewerResultName').val();
            myObject.cmts = $("#ChecklistReviewItemReviewerResultComments").val();
            //myObject.FAttachment = $("#FAttachment")[0].files[0]
            var files = $("#FAttachment").get(0).files;
            myObject.FAttachment = myObject.append("file", files[0]);
            myObject.chkSecNam = MajorSectionName;
            myObject.chkId = ChkID;
            myObject.chkItmId = ChklstRwItmID
            myObject.chkSecId = MajorSectionID;
            var loadurl = '@Url.Action("SaveCommentsChkListSectionitem", "ConstructabilityCheckList")';
            $.ajax({
                type: "POST",
                data: JSON.stringify(myObject),
                url: loadurl,
                //data: {'designCode':designLvlCode, 'Rrole':riwerrole,'Rname':ReviewerName, 'Comments':cmts, 'chkId':chkId, 'chkItmId':chkItmId, 'chkSecId':chkSecId, 'chkSecNam':chkSecNam },
                contentType:false,
                success: function (data, textStatus, jqXHR) {
                    data;
                    $("#myModal").hide()
                },
                error: function (xhr) {
                    console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                }
            });
        }*@

        function AddCustomItem(ChklistRwID, ChklistreviewItemID, ChkltRwItemMajorSectionName,MajorSectionSortOrder, MajorSectionID, ItemDivisionID, DivisionSortOrder, SectionID, SectionSortOrder) {
            var loadurl = '@Url.Action("AddChecklistSectionItem", "ConstructabilityCheckList")' + "?ChklistrwId=" + ChklistRwID + "&ChklistreviewItmId=" + ChklistreviewItemID + "&MajorSectionName=" + ChkltRwItemMajorSectionName + "&MjSctiSortOrder=" + MajorSectionSortOrder + "&MajorSectionId=" + MajorSectionID + "&ItemDivisionId=" + ItemDivisionID + "&DivisionSortOrder=" + DivisionSortOrder + "&SectionID=" + SectionID+ "&SectionSortOrder=" + SectionSortOrder;
            $("#divbody").html("Content loading please wait...");
            $("#myModalLabel").html("Add Custom Checklist Review Item");
           $("#divbody").load(loadurl, function () {
            $("#myModal").modal("show");
            });

        }

        function AddChecklistComments(ChklistRwID, ChklistreviewItmId, ChkltRwItemMajorSectionName, MajorSectionID) {
            var loadurl = '@Url.Action("AddChecklistSectionItemComments", "ConstructabilityCheckList")' + "?ChklistrwId=" + ChklistRwID + "&ChklistreviewItmId=" + ChklistreviewItmId + "&MajorSectionName=" + ChkltRwItemMajorSectionName + "&MajorSectionId=" + MajorSectionID;
            $("#divbody").html("Content loading please wait...");
            $("#myModalLabel").html("Add Custom Checklist Review Comments");
           $("#divbody").load(loadurl, function () {
               $("#myModal").modal("show");               
            });

        }

        function hide(chkID, result, MajorsectionName) {
            var Flag = $(".dt-checkboxes").is(":checked");
            if (Flag == true) {
                location.href = "/ConstructabilityCheckList/UpdateCheckListActive" + "?ChkRevewID=" + chkID + "&ChklstRwItmSectionId=" + result +"&MajorSectionName="+MajorsectionName;
            }
        }
        function ShowReceipt(ChecklistReviewItemId,CommentId) {
            location.href = "/ConstructabilityCheckList/getRFile" + "?ChkItemId=" + ChecklistReviewItemId + "&CommentItemId=" + CommentId;
           
        }
    </script>
}
